@page
@model cms.Pages.IndexModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Internet of Grey - Bernard Carter</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Internet of Grey</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#speaking">Speaking/Videos</a>
                </li>

                <!--
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
                </li>
                -->

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#certifications">Certifications</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0">
                    Bernard
                    <span class="text-primary">Carter</span>
                </h1>
                <div class="subheading mb-5">
                    ·
                    <a href="mailto:bcarter@internetofgrey.com">bcarter@internetofgrey.com</a>
                </div>
                <p class="mb-5">I lead a team that creates IoT and Digital Signage products and solutions with a focus on automation, manageability and security.</p>
                <ul class="list-inline list-social-icons mb-0">
                    <li class="list-inline-item">
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/springfailings" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/bernard-carter-22570b3/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/sourcex" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a target="_blank" href="https://stackexchange.com/users/1810549/grumbles">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-stack-exchange fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://blog.internetofgrey.com/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://social.msdn.microsoft.com/profile/grit-grumble/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://www.hackster.io/bernard-carter/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
                <h2 class="mb-5">Experience</h2>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">OEM Executive Director</h3>
                        <div class="subheading mb-3">Now Micro</div>
                        <p></p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">July 2017 - Present</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Director of Product Development and Operations</h3>
                        <div class="subheading mb-3">Now Micro</div>
                        <p></p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">April 2016 - July 2017 - March 2013</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Manager of Research and Product Development</h3>
                        <div class="subheading mb-3">Now Micro</div>
                        <p></p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">March 2015 - April 2016</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Senior Solutions Architect</h3>
                        <div class="subheading mb-3">Now Micro</div>
                        <p></p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">May 2013 - March 2015</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">IS Security Architect</h3>
                        <div class="subheading mb-3">General Mills</div>
                        <p></p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">June 2011 - May 2013</span>
                    </div>
                </div>

            </div>

        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="speaking">
            <div class="my-auto">
                <h2 class="mb-5">Speaking/Videos/Media</h2>


                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Webinar: Intel® and Now Micro- Reimagining Today’s End-to-End Infrastructure with Edge Computing in a World of Digital Transformation</h3>
                        <div class="subheading mb-3">Speaker and Demo of Edge Computing Device</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">September 25th, 2018</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Intel® and Now Micro Visual Solutions Innovation Workshop</h3>
                        <div class="subheading mb-3">Speaker: Hardware, Now Micro Configurator and DICE, Intel vPro demo</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">July 18, 2018: 8:00 AM - 3:00 PM</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Digital Signage Expo</h3>
                        <div class="subheading mb-3">Don’t be a News Story - IoT Security Design Principals as Applied to Digital Signage</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">March 29, 2018: 2:45 PM - 3:15 PM</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Webinar</h3>
                        <div class="subheading mb-3">Learn how IoT Player can work for you</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">June 8th, 2017</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Embedded Systems Engineering Magazine</h3>
                        <div class="subheading mb-3">Navigating the HTML5 Digital Signage Operating System Ecosystem</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">January 27th, 2017</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Webinar</h3>
                        <div class="subheading mb-3">Now Micro IoT Player: A Secure, Managed HTML5 Player</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">January 12th, 2017</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">JourneyED Midwest Conference</h3>
                        <div class="subheading mb-3">Chromebook Deployment Made Easy: Tips and Tricks</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">October 5th, 2016</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Webinar</h3>
                        <div class="subheading mb-3">How to foolproof your media player field deployments with Configurator</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">September 14th, 2016</span>
                    </div>
                </div>


                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Brainstorm</h3>
                        <div class="subheading mb-3">Leveraging Windows 10 Write Filters in Education</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">March 1, 2016: 9:45 AM  -  10:45 AM</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Webinar</h3>
                        <div class="subheading mb-3">Overview of Windows embedded Features for Security and Customization</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">April 16th, 2015</span>
                    </div>
                </div>

            </div>
        </section>

        <!--
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
          <div class="my-auto">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline list-icons">
              <li class="list-inline-item">
                <i class="devicons devicons-html5"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-css3"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-javascript"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-jquery"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-bootstrap"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-wordpress"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-csharp-plain"></i>
              </li>
                          <li class="list-inline-item">
                <i class="devicons devicons-csharp-original"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-gulp"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-npm"></i>
              </li>

            </ul>

            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                Mobile-First, Responsive Design</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Cross Browser Testing &amp; Debugging</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Cross Functional Teams</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Agile Development &amp; Scrum</li>
            </ul>
          </div>
        </section>

        -->

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
            <div class="my-auto">
                <h2 class="mb-5">Interests</h2>
                <p>Balance is an important component to staying productive and fulfilled.  In addition to my work on IoT/Digital Signage products and solutions, in my spare time I enjoy boating, gardening,  reading and taking the occasional photo.  </p>
                <p>I'm also enamored with single board computers, have an extensive lab in my home office and automate many pointless things.</p>
            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="certifications">
            <div class="my-auto">
                <h2 class="mb-5">Certifications &amp; Awards</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        CompTIA A+, Security+, Network+, Project+
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        GIAC Certified Incident Handler (GCIH)
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        (ISC)2 Certified Information Systems Security Professional (CISSP®)
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        VMware Certified Professional 4 (VCP4)
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Cisco Certified Network Associate (CCNA)
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Microsoft Certified IT Professional Enterprise Administrator
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Microsoft SQL Server 2008, Implementation and Maintenance
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Microsoft Windows 7, Configuration
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Microsoft Windows Server 2008 Active Directory, Configuration
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Microsoft Windows Server 2008 Applications Infrastructure, Configuration
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Microsoft Windows Windows Server 2008 Network Infrastructure, Configuring
                    </li>
                </ul>
            </div>
        </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

</body>

</html>
